{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}
{# Plantilla derechos humanos #}
{{ attach_library('cevtheme/derechoshumanos_library') }}
<div class="wrapper">
  {{ drupal_view('seccion_ddhh', 'block_ddhh') }}
  <div id="item-container-principal-5" class="img-fit item-principal">
    <div class="item-5">
      {#{{ drupal_view('bloque_personalizado_ddhh', 'block_pddhh') }}#}
      {{ drupal_block('block_content:<2c8e601a-45c8-4461-be11-eecfdda1283b>') }}
    </div>
  </div>
</div>

{# BOTONES FLOTANTES #}
{{ content.field_botones_menu_flotante }}
{{ content.field_avivavoz }}
{{ content.field_descargar_capitulo_pdf }}
{{ content.field_descargable }}
{{ content.field_anexos }}
{{ content.field_enlace_anexos }}
{{ content.field_id_frente_espejo }}
{{ content.field_enlace_casos }}

<script src="/themes/custom/cevtheme/js/driver.min.js"></script>
<script type="text/javascript">
{{ term.field_script_tour.value|raw }}
</script>