{#
/**
* @file
* Default theme implementation to present a media item.
*
* Available variables:
* - media: The media item, with limited access to object properties and
* methods. Only method names starting with "get", "has", or "is" and
* a few common methods such as "id", "label", and "bundle" are available.
* For example:
* - entity.getEntityTypeId() will return the entity type ID.
* - entity.hasField('field_example') returns TRUE if the entity includes
* field_example. (This does not indicate the presence of a value in this
* field.)
* Calling other methods, such as entity.delete(), will result in
* an exception.
* See \Drupal\Core\Entity\EntityInterface for a full list of methods.
* - name: Name of the media item.
* - content: Media content.
* - title_prefix: Additional output populated by modules, intended to be
* displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
* displayed after the main title tag that appears in the template.
* - view_mode: View mode; for example, "teaser" or "full".
* - attributes: HTML attributes for the containing element.
* - title_attributes: Same as attributes, except applied to the main title
* tag that appears in the template.
*
* @see template_preprocess_media()
*
* @ingroup themeable
*/
#}
<div class="swiper-slide img-fit-background">
    <div class="shadow"></div>
    <img src="{{file_url(media.field_media_image_1.entity.fileuri)}}">
</div>


<div class="swiper-slide galeriaReferencia">
    <div class="content-current-slide">
        <div>
            <b>{{name}}</b>
            <span>{{ media.field_fecha.value}}</span>
        </div>
        <p>{{media.field_descripcion.value}}</p>
        <a data-id={{media.id}}>Leer mas</a>
    </div>
</div>

<div class="full-info informacion-{{media.id}}" id="full-info-copia">
    <button class="close-info">
        <i class="icon-cerrar"> </i>
        Cerrar
    </button>
    <div class="full-info-scroll">
        {{media.field_mas_informacion.value|raw}}
    </div>
</div>