{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
 #}

{{ attach_library('cevtheme/prensa_library') }}

<header class="fixed-top purpura">
  <div class="container containerHeaderPrensa">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 divPres">
              <a href="/inicio" id="linkAtras">
                <span class="icon icon-flecha-iqz"></span>
              </a>                      
              <h1>Prensa</h1>
          </div>
          <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
            <p class="pPrensa">Lo más reciente para periodistas</p>
            <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
              {{ exposed }}
            </div>
          </div>
      </div>
  </div>
</header>

{% if rows %}
  <div class="container-fluid contenedorCards">
    <div class="row">
      {{ rows }}
    </div>
  </div>
{% elseif empty %}
  <div class="view-empty">
    {{ empty }}
  </div>
{% endif %}

<div class="paginador">
  {{ pager }}
</div>